<div class="container-fluid" style="padding-right: 20%; padding-left: 20%;">
	<div class="card card-block">
		<% if @messages.size > 0 %>
			<ul class="messages  list-group">
				<% @messages.each do |message| %>
					<%= render message %>
				<% end %>
			</ul>
		<% else %>
			<h4>No message</h4>
		<% end %>


		<%= form_for [@room, Message.new], remote: true do |f| %>
		<div class="input-group" style="margin-top: 10%">
			<%= f.text_field :body, {class: 'form-control', placeholder: 'Enter your message'} %>
			<span class="input-group-btn">
				<%= f.submit nil, class: 'btn btn-primary'%>
			</span>
		</div>
		<% end %>
	</div>
</div>